@use "../bulma/utilities/mixins";

#educations {
  .educations-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;

    &__item {
      display: flex;
      flex-direction: row;
      gap: 18px;

      .period {
        width: 12rem;
        min-width: 12rem;
        padding-top: 0.5rem;
      }

      .qualification {
        color: var(--bulma-danger);
        font-weight: bold;
        font-size: 1.5rem;
      }

      .school {
        color: var(--bulma-info);
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
}

@include mixins.touch {
  #educations {
    .educations-list {
      &__item {
        display: flex;
        flex-direction: column;
        gap: 0;
      }
    }
  }
}
