@use "../bulma/utilities/mixins";

#educations {
  .section-title {
    h1 {
      width: fit-content;
      background-image: url("../assets/images/underlines/blue_center.svg");
      background-repeat: repeat-x;
      background-position: bottom;
      padding: 0 1rem 1rem 1rem;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        background-image: url("../assets/images/underlines/blue_start.svg");
        background-repeat: repeat-x;
        width: 108px;
        height: 80px;
        bottom: 4px;
        left: -108px;
      }

      &:after {
        content: "";
        position: absolute;
        background-image: url("../assets/images/underlines/blue_end.svg");
        background-repeat: repeat-x;
        width: 108px;
        height: 20px;
        bottom: 4px;
        right: -108px;
      }
    }
  }

  .educations-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;

    &__item {
      display: flex;
      flex-direction: row;
      gap: 18px;

      .period {
        width: 12rem;
        min-width: 12rem;
        padding-top: 0.5rem;
      }

      .qualification {
        color: var(--bulma-danger);
        font-weight: bold;
        font-size: 1.5rem;
      }

      .school {
        color: var(--bulma-info);
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
}

@include mixins.touch {
  #educations {
    .section-title {
      h1 {
        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }
    }
    .educations-list {
      &__item {
        display: flex;
        flex-direction: column;
        gap: 0;
      }
    }
  }
}
