@use "../bulma/utilities/mixins";

#skills {
  .section-title {
    h1 {
      width: fit-content;
      background-image: url("../assets/images/underlines/red_center.svg");
      background-repeat: repeat-x;
      background-position: bottom;
      padding: 0 1rem 1rem 1rem;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        background-image: url("../assets/images/underlines/red_start.svg");
        background-repeat: repeat-x;
        width: 108px;
        height: 80px;
        bottom: 4px;
        left: -108px;
      }

      &:after {
        content: "";
        position: absolute;
        background-image: url("../assets/images/underlines/red_end.svg");
        background-repeat: repeat-x;
        width: 108px;
        height: 20px;
        bottom: 4px;
        right: -108px;
      }
    }
  }

  .skills-list {
    &__item {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .progress-bar {
        height: 1rem;
        background-image: radial-gradient(#ffffff 1px, transparent 0);
        background-size: 4px 4px;
        background-position-y: calc(1rem - 4px);
        background-repeat: repeat-x;
        width: 100%;

        &__filler {
          height: 100%;
          background-image: radial-gradient(#ffffff 1px, transparent 0);
          background-size: 4px 4px;

          @for $i from 1 through 20 {
            &.fill-#{$i * 5} {
              width: #{$i * 5} + "%";
            }
          }
        }
      }
    }
  }
}

@include mixins.touch {
  #skills {
    .section-title {
      h1 {
        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }
    }
  }
}