html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

pre {
  background-color: unset;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--bulma-text);
  border-radius: 10px;

  &:hover {
    background: var(--bulma-text-strong);
  }
}
