@use "bulma/utilities/mixins";

@import "bulma";
@import "theme";
@import "sections";
@import "utils";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

// @include mixins.touch {
//   html {
//     font-size: 14px;
//   }
// }
